/* CSS Document */

#firstLayer{
    background-color: gray;
    width: 300px;
    border: 15px solid red;
    
    /*inner space*/
    padding: 50px;
    
    /* external space */
    margin: 20px ;
}
